* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  color: #45403e;
}

code {
  font-family: 'Source Code Pro', monospace;
}

.col {
  margin-bottom: 1rem;
}

#container {
  margin: 2rem;
}

#holder {
  border: 5px dashed #58aeff;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#holder.hover {
  background: #58aeff;
  border-color: #daedff;
  color: #fff;
}

.top {
  padding: 10px;
  background: #6e6663;
  color: #fff;
}

.warning {
  color: #ffad00;
}

.details {
  padding: 10px;
}

.details h3 {
  font-weight: normal;
  margin-bottom: 0.3rem;
}

.details code {
  padding: 1px 4px;
  border-radius: 5px;
  border: 1px solid #cbc8c7;
  color: #6e2b2a;
  font-size: 0.9em;
  line-height: 1.8em;
}

.preview {
  height: 300px;
  background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 39%, rgba(255,255,255,1.00) 100%), url('../img/preview.png') no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(39%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,1.00))), url('../img/preview.png') no-repeat;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 39%,rgba(255,255,255,1.00) 100%), url('../img/preview.png') no-repeat;
  background: -o-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 39%,rgba(255,255,255,1.00) 100%), url('../img/preview.png') no-repeat;
  background: -ms-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 39%,rgba(255,255,255,1.00) 100%), url('../img/preview.png') no-repeat;
  background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 39%,rgba(255,255,255,1.00) 100%), url('../img/preview.png') no-repeat;
  background-size: 100% auto;
}

.sample {
  display: inline-block;
  margin-right: 1rem;
}

/*
 *  Usage:
 *
 *    <div class="sk-spinner sk-spinner-wave">
 *      <div class="sk-rect1"></div>
 *      <div class="sk-rect2"></div>
 *      <div class="sk-rect3"></div>
 *      <div class="sk-rect4"></div>
 *      <div class="sk-rect5"></div>
 *    </div>
 *
 */
.sk-spinner-wave.sk-spinner {
  margin: 0 auto;
  width: 100px;
  height: 75px;
  text-align: center;
  font-size: 10px; }
.sk-spinner-wave div {
  background-color: #58aeff;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
          animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }
.sk-spinner-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-spinner-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-spinner-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-spinner-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }

@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }

  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }

  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }


#container .sk-spinner.loading {
  margin-top: 4rem;
  display: none;
}

